PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "datas" (
    "id"        INTEGER,
    "ot"        INTEGER,
    "alias"     INTEGER,
    "setcode"   INTEGER,
    "type"      INTEGER,
    "atk"       INTEGER,
    "def"       INTEGER,
    "level"     INTEGER,
    "race"      INTEGER,
    "attribute" INTEGER,
    "category"  INTEGER,
    PRIMARY KEY("id")
);
INSERT INTO datas VALUES(483,3,0,453,65538,0,0,0,0,0,0);
INSERT INTO datas VALUES(59080,3,0,19530066,2,0,0,0,0,0,269484160);
INSERT INTO datas VALUES(102380,3,0,0,33554465,3000,2500,8,8,4,1310720);
CREATE TABLE IF NOT EXISTS "texts" (
    "id"    INTEGER,
    "name"  TEXT,
    "desc"  TEXT,
    "str1"  TEXT,
    "str2"  TEXT,
    "str3"  TEXT,
    "str4"  TEXT,
    "str5"  TEXT,
    "str6"  TEXT,
    "str7"  TEXT,
    "str8"  TEXT,
    "str9"  TEXT,
    "str10" TEXT,
    "str11" TEXT,
    "str12" TEXT,
    "str13" TEXT,
    "str14" TEXT,
    "str15" TEXT,
    "str16" TEXT,
    PRIMARY KEY("id")
);
INSERT INTO texts VALUES(102380,'Lava Golem','Cannot be Normal Summoned/Set. Must first be Special Summoned (from your hand) to your opponent''s field by Tributing 2 monsters they control. You cannot Normal Summon/Set the turn you Special Summon this card. Once per turn, during your Standby Phase: Take 1000 damage.','Special Summon this card to the opponent''s field','1000 damage','Afected by "Lava Golem": cannot Normal Summon/Set this turn','','','','','','','','','','','','','');
COMMIT;
